
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color:#ebebeb
}
/* si apuntamos a un tag no hace falta escribirlo como clase*/


.main-header{
    background-color: #EAC926;
    padding: 8px;

}
.main-header-top-bar{
    display: flex;
    flex-wrap: unset;
    justify-content: space-between;
    border: dotted 5px red;
}


.logo{
    flex-grow: 50%;
    
}

.header-nav-bar{
    flex-grow: 50%;
    
}

.header-center{
    text-align: center;
    color:#666 ;
    padding: 20px;
    font-size: 15px;
}


.main-navbar{
    display: none;
   
}

main{
   
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 90vw
}

.main-title{
    font-size: 24px;
    color: #666;
    text-align: left;
    padding-bottom: 20px;

}

.article{
    margin-bottom: 10px;
   
    background-color: white;
    padding-bottom: 10px;

}
.priceside{
    
    display: flex;
    align-items:end;
    padding-bottom: 10px;
    border-top: 1px solid #ebebeb;
    position: relative;
    
    

}
.priceside >.logo-envio{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a ;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.discount{
    flex-grow: 70%;
    padding-left: 20px;
    font-size: 16px;
    color:#39b54a;
}

.price{
    flex-grow: 30%;
    font-size: 18px;
    padding-left: 20px;
}

.product-title{
    display: none;
    color: #666 ;
    font-size: 16px;
    text-align: left;
    padding-left: 25px;
}


.footer{
    width: 90%;
    text-align: center;
    align-items: center

}

.footericons{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.footer-text {
    font-size: 12px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    max-width: 260px;
}

.copyright{
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
    
}

.burger-menu{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 6px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    
}


/* cambiar luego a 361*/
@media (min-width: 390px){
    .product-title{
        display: flex;
    }
        
    .burger-menu{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .main-navbar li {
    margin: 0 5px;
    display: inline-block;
    }

    .main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 10px;

    }

    .article{
        
    box-shadow: 0px 0px 10px rgb(100,100,100)
        
    }
   
}


/*Desktop
@media (min-width: 769px){

}
*/
