
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: "Roboto";
}
/* si apuntamos a un tag no hace falta escribirlo como clase*/

main{
   
    margin: auto;
    align-items: center;
    text-align: center;
    width: 90vw
}

.header-center{

    font-size: 12;
    text-align: center;
    padding: 20px;
}
.article{
    margin: 10px;
}

.footer{
    width: 90%;
    text-align: center;
    align-items: center

}

.footericons{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.footer-text {
    font-size: 12px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    max-width: 260px;
}

.copyright{
    text-align: left;
    margin-left: 30px;
    
}


.bg-yellow {
    background-color: #EAC926;
}
.bg-blue {
    background-color: #03264C;
}

.bg-darkgrey{
    background-color:#666 ;
}

.bg-lightgrey{
    background-color:#ebebeb ;
}

.bg-green{
    background-color:#39b54a ;
}

.w-50{
    width: 50%;
}

.p-1{
    padding: 8px;
}


.tsize24{
    font-size: 24px;
}

.tsize18{
    font-size: 18px;
}

.tsize16{
    font-size: 16px;
}


.left {
    text-align: left;
}


.bt-1{
    border-top-style: solid;
    border-top-width: 1px;
}

.bordergrey{
    background-color:#ebebeb ;
}

.burger-menu{

    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    
    padding: 6px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.padicon {
    padding: 8px;
}




/*Tablet*/
@media (min-width: 520px){
    .md-product-shadow{
    box-shadow : 0px 0px 10px rgb(100,100,100);
}

}
/*Desktop*/
@media (min-width: 1280px){

}