<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Tipografia  - Descargo roboto de google fonds -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Iconos :   https://cdnjs.com/libraries/font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    

    <link rel="stylesheet" href= "/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body class="bg-lightgrey">
    <header class="bg-yellow p-1">
        <h1>
        <img width="200" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </h1>
        <p> Lugar para poner la Barra de busqueda </p>
        <p class = "center tsize12"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de Credito </p>

        <nav>
            <ul>
                <li><a href= "#">Ofertas</a></li>
                <li><a href= "#">Tiendas Oficiales</a></li>
                <li><a href= "#">Vender</a></li>
                <li><a href= "#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href= "#">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i> </li>
                <li><a href= "#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href= "#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>

            </ul>
        </nav>
        
        <div class= "burger-menu">
            <i class= "fa-solid fa-bars bg-blue"></i>
        </div>  
            
    </header>
    <main>
        <section>
            <h2 class="tsize24">
                Basado en tu ultima visita
            </h2>
            <article>
                <img width="320"  src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div>
                    <p class= "tsize18">$6.770</p>
                    <p class= "tsize16">40% off</p>
                    <h3 class= "tsize16">Cafetera Moulinex</h3>
                </div>

            </article>
            <article>
                <img width="320"  src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <div>
                    <p class= "tsize18">$230.000</p>
                    <p class= "tsize16">20% off</p>
                    <h3 class= "tsize16">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img width="320"  src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <div>
                    <p class= "tsize18">$70.500</p>
                    <p class= "tsize16">10% off</p>
                    <h3 class= "tsize16">Samsung Galaxy</h3>
                </div>
            </article>
             <article>
                <img width="320"  src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <div>
                    <p class= "tsize18">$23.200</p>
                    <p class= "tsize16">5% off</p>
                    <h3 class= "tsize16">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>
            <h2 class="tsize24">Ofertas</h2>
            <article>
                <img width="320"  src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div>
                    <p class= "tsize18">$6.770</p>
                    <p class= "tsize16">40% off</p>
                    <h3 class= "tsize16">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img width="320"  src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <div>
                    <p class= "tsize18">$230.000</p>
                    <p class= "tsize16">20% off</p>
                    <h3 class= "tsize16">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img width="320"  src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <div>
                    <p class= "tsize18">$70.500</p>
                    <p class= "tsize16">10% off</p>
                    <h3 class= "tsize16">Samsung Galaxy</h3>
                </div>
            </article>
            <article>
                <img width="320"  src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <div>
                    <p class= "tsize18">$23.200</p>
                    <p class= "tsize16">5% off</p>
                    <h3 class= "tsize16">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
</body>


<footer>
    <section class="center">
        <h3>Pagá con tarjeta o en efectivo</h3>
        <div class= "tsize12">
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    </section>
    <section class="center">
        <h3>Envío gratis desde $ 2.500</h3>
        <div class= "tsize12">
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    </section>
    <section class="center">
        <h3>Seguridad de principio a fin</h3>
        <div class= "tsize12">
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </section>
    <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</html>
