<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    
    <link rel="stylesheet" href= "/css/styles-register.css">
    <link rel="stylesheet" href="/css/normalize.css"> 
    <title>Mercado Liebre - Log In</title>
</head>
<body>
    <form action="/" method="GET" class="main-form" width=100%>

<div class="div-data">
    <input type="text" name="user" class="data" id="user" placeholder="Nombre de Usuario" required minlength="4" maxlength="8" size="10">
</div>
<div class="div-data">
    <input type="password" name="password" class="data" id="user" placeholder="Contraseña" required minlength="4" maxlength="8" size="10">
</div>
<p class="button-place">
    <button class="button-login" type="submit"></a>Enviar</button>
</p>
</form>
</body>
</html>