<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href= "/css/styles.css">
    <title>Mercado Liebre - Log In</title>
</head>
<body>
    <form action="/" method="GET" class="login">
    <h3>Login de Usuario</h3>

<div class="form">
    <label>Nombre de usuari@</label>
    <input type="text" name="user" class="data" id="user" required minlength="4" maxlength="8" size="10">
</div>
<div>
    <label>Contraseña</label>
    <input type="password" name="password" class="data" id="user" required minlength="4" maxlength="8" size="10">
</div>
<p>
    <button type="submit"></a>Enviar</button>
</p>
</form>
</body>
</html>