<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href= "/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>

<form action="/" method="GET" class="create-form">
    <h3>Formulario Registro</h3>
    <div class="form">
        <label>Nombre y apellido</label>
        <input type="text" name="name" class="data">
    </div>
    <div class="form">
        <label>Nombre de usuari@</label>
        <input type="text" name="user" class="data">
    </div>
    <div class="form">
        <label>Fecha de nacimiento</label>
        <input type="date" name="date" class="data">
    </div>
    <div class="form">
        <label>Domicilio</label>
        <input type="text" name="addres" class="data">
    </div>
    <div class="form">
        <label>Perfil de Usuario</label>
        <select name="Perfil">
            <option value="comprar">Comprar</option>
            <option value="vender">Vender</option>
        </select>
    </div>
    <div class="form">
        <label>Categorías de interés:</label><br />

        <label>Electro</label>
        <input type="checkbox" name="interest" value="electro">
        <label>Moda</label>
        <input type="checkbox" name="interest" value="moda">
        <label>Hogar</label>
        <input type="checkbox" name="interest" value="hogar">
        <label>jugueteria</label>
        <input type="checkbox" name="interest" value="jugueteria">
        <label >Vida sana</label>
        <input type="checkbox" name="interest" value="vidaSana">
    </div>
    <div class="form">
        <label>Foto Usuario</label>
        <input type="file" name="avatar" accept=".jpg">
    </div>
    <div>
        <label>Contraseña</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Confirmar Contraseña</label>
        <input type="confirm-password" name="confirm-password">
    </div>
    <p>
        <button type="submit"></a>Enviar</button>
        <button type="reset">Reset</button>
    </p>
    
</form>
    
</body>
</html>